* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.title{
  margin-top: 10px;
  font-family: "Bahnschrift Light";
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-family: Candara;
  color: #555353;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-bottom: 15px;
  background-color: #ADDFD3;
  min-width: 100vh;
  height: 123px;
}

.input {
  color: #000000;
  ;
  text-align: center;
  font-size: 22px;
  font-family: Candara;
  padding: 5px;
  width: 288px;
  height: 53px;
  border-radius: 8px;
  margin: 30px;
  background-color: #EAE3D0;
  border: #DBC4B6;
}

.input:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button {
  border: 0;
  padding: 6px 18px;
  border-radius: 3rem;
  background-color: #F1A19F;
  color: #fff;
  font-size: 20px;
  font-family: Candara;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  color: white;
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-inline: 50px;
  border: none;
  background: #DBC4B6;
  color: whitesmoke;
  font-family: Candara;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
  margin: 15px;

}

.btn:hover {
  color: rgb(104, 54, 0);
  transform: scale(1.1);
}

.contenedorTarjeta {
  
  transform: translate(15px);
  box-shadow: 0 12px 16px rgba (0, 0, 0, 0.2);
  display: flex;
  width: 862px;
  height: 393px;
  margin: 20px;
  overflow: hidden;
  transition: all 0.25s;
 
}

.contenedorImagen {
  transform: translate(15px);
  box-shadow: 0 12px 16px rgba (0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  width: 260px;
  height: 363px;
}

.contenedorImagen:hover {
  transform: scale(1.1);
}

.contenedorTexto {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-family: "Bahnschrift Light";
  font-size: 25px;
  line-height: 2; 
  width: 605px;
  height: 393px;
  padding: 5%;
}

.menuFiltro{
  border: 0;
  padding: 6px 18px;
  border-radius: 3px;
  background-color: #DBC4B6;
  color: white;
  font-size: 20px;
  font-family: Candara;
  margin: 25px;
}

.menuFiltro:hover {
  box-shadow: 2px 2px 2px 1px rgba(132, 132, 131, 0.704);
}

.label {
  font-family: Candara;
  color: #555353;
  font-size: 25px;
}

